<h1>
  Rxjs Operators
</h1>

<section>
  <p class="of-operator"> Of Operator </p>
  <button (click)="ofOperator()">Of operator</button>
</section>
<section>
  <p class="from-operator"> From Operator </p>
  <button (click)="fromOperator()">From operator</button>
</section>
<section>
  <p class="interval-operator"> Interval Operator </p>
  <button (click)="intervalOperator()">Interval operator</button>
</section>
<section>
  <p class="combined-operator"> Combined Operator </p>
  <button (click)="combinedOperation()">Combined operator</button>
</section>
<section>
  <p class="error-operator"> Error Operator </p>
  <button (click)="error()">Error operator</button>
</section>

<router-outlet />